@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  max-width: 100%;
  width: 100%;
}

.hero-graphic {
  display: none;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .left {
  background-color: #3b765f;
  color: white;
  padding: 1em 1em;
  width: 100%;
}

#modal-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2000;
  display: none;
}

#modal-container {
  margin: auto auto;
  width: 100%;
  margin: 2em;
  background: white;
  border-radius: 3px;
  color: #2c3e50;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
header a {
  color: white;
}
header #logo {
  font-weight: bold;
}
header ul {
  display: flex;
}
header ul a {
  display: block;
  font-size: 0.9em;
  padding: 0 1em;
}

.header-br {
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

.hero-grid {
  display: block;
}

.hero {
  color: white;
  overflow: hidden;
}
.hero h1 {
  font-size: 2.5em;
}
.hero h2 {
  display: none;
}
.hero .content {
  background-image: url("assets/hero-bg-mobile.svg");
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4em 1em;
  align-items: center;
  background-size: cover;
  background-position: bottom;
}
.hero .buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 420px;
  flex-wrap: wrap;
  margin: 2em auto;
  text-align: center;
}
.hero .cta {
  background: white;
  border: 0;
  color: #4C987B;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}
.hero button {
  border-radius: 5px;
  background: none;
  padding: 0.7em;
  color: white;
  border: 0;
  font-weight: bold;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.hero button img {
  margin-right: 0.7em;
  height: calc(1.5em - 2px);
  width: auto;
}

section {
  margin: 0 auto;
  padding: 4em 1em 4em 1em;
  text-align: center;
}
section span {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #4C987B;
  font-weight: bold;
  letter-spacing: 0.2em;
  padding: 0.2em;
}
section h3 {
  font-size: 2em;
  color: black;
}
section img {
  border-radius: 0.5em;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
section .portfolio-container {
  padding: 0 0 2em 0;
}
section p {
  padding: 0.5em 0;
  max-width: 600px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}

.featured p {
  padding: 0.5em 0 0 0;
}

.about {
  background: url("assets/hero-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.about h3 {
  color: white;
  margin-bottom: 1em;
  text-align: center;
}
.about .more-text {
  display: none;
}
.about a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.about a {
  display: none;
}
.about .card {
  background: white;
  border-radius: 5px;
  margin-bottom: 2em;
  color: #12251e;
  padding: 2em;
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
.about .card h4 {
  font-size: 1.3em;
  margin: 0.6em 0;
  text-align: center;
}
.about .card ul {
  padding-top: 2em;
}

@media only screen and (min-width: 600px) {
  .about {
    text-align: left;
  }
  .about .more-text {
    display: block;
  }
  .about .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .about h3 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 800px) {
  .featured, .portfolio-container, .about {
    text-align: left;
  }

  .featured, .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .featured img {
    max-width: 800px;
  }

  section img {
    float: right;
  }

  header .left {
    padding: 1em 1em 1em 2em;
  }

  .portfolio-left, .portfolio .inner.center {
    text-align: center;
  }

  .hero {
    color: white;
  }
  .hero h1 {
    margin-bottom: 1rem;
    font-size: 3em;
    line-height: 1.2em;
    max-width: 700px;
  }
  .hero h2 {
    font-size: 1.2em;
    display: block;
    max-width: 300px;
    margin-bottom: 3rem;
  }
  .hero .content {
    background: url("assets/hero-bg.svg") #3F8168;
    background-size: cover;
    border-radius: 0 0 5px 5px;
    height: 90vh;
    animation: heroAnimation 1s ease;
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    overflow: visible;
  }
  .hero .content .scroll-down {
    width: 30px;
    height: auto;
    animation-name: scrollDown;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: scrollDown;
    -webkit-animation-timing-function: ease;
    -webkit-transform-origin: bottom;
    -webkit-animation-iteration-count: infinite;
  }
  .hero .content .arrow-down-outer {
    margin: 3em 0 0 5px;
    height: auto;
    overflow: visible;
  }
  .hero .buttons {
    flex-direction: row;
  }
  .hero .buttons, .hero button {
    margin: 0 0;
  }
  .hero button {
    padding: 1.2em;
    font-size: 1em;
  }
  .hero .cta {
    margin: 0;
  }

  section {
    padding: 2em;
  }
  section .portfolio {
    grid-template-columns: 50% auto;
  }
  section .portfolio-container {
    display: grid;
    place-content: center start;
    padding: 0 2em 0 0;
  }
  section h3 {
    font-size: 1.7em;
  }

  .about .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
  .about h3 {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 1000px) {
  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  header #logo {
    font-size: 1.15em;
  }

  .about {
    display: grid;
    margin: 0 calc($break-padding-1000 - 2em);
    border-radius: 5px;
  }
  .about h3 {
    font-size: 2.5em;
  }

  .portfolio-container {
    display: grid;
    place-content: center;
  }

  header .left {
    width: 66%;
    transition: 0.3s;
  }

  .hero .content {
    background: url("assets/hero-bg.svg") #3F8168;
    background-size: cover;
    border-radius: 0 0 5px 5px;
    width: 66%;
    animation: heroAnimation 1s ease;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }

  .hero-graphic {
    display: block;
    margin-left: -2px;
    width: auto;
    height: 65vh;
    position: relative;
    z-index: -1000;
    margin-top: 0px;
    animation: moveUp 1.2s ease forwards;
  }

  .triangle-1 {
    opacity: 0;
    animation: opacity 0.5s ease forwards;
    animation-delay: 0.2s;
  }

  .triangle-2 {
    opacity: 0;
    animation: opacity 0.5s ease forwards;
    animation-delay: 0.4s;
  }

  .triangle-3 {
    opacity: 0;
    animation: opacity 0.5s ease forwards;
    animation-delay: 0.6s;
    margin-right: -400px;
  }

  .triangle-4 {
    opacity: 0;
    animation: opacity 0.5s ease forwards;
    animation-delay: 0.8s;
  }

  .triangle-5 {
    opacity: 0;
    animation: opacity 0.5s ease forwards;
    animation-delay: 1s;
    display: block;
  }

  .triangle-6 {
    opacity: 0;
    animation: opacity 0.5s ease forwards;
    animation-delay: 1.2s;
  }

  .transition-1 {
    animation: moveDown 1.5s ease;
  }

  .transition-2 {
    animation: moveDown 1.2s ease;
  }

  .transition-3 {
    animation: moveDown 0.9s ease;
  }

  @keyframes opacity {
    100% {
      opacity: 1;
    }
  }
  @keyframes moveDown {
    0% {
      transform: translate(0px, -400px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  @keyframes moveUp {
    0% {
      transform: translate(0px, 400px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  .hero-grid {
    display: flex;
  }

  section img {
    margin-right: -10rem;
  }
}
@media only screen and (min-width: 1400px) {
  .about {
    border-radius: 5px;
    margin: 0 calc(12em - 4em);
    padding: 4em;
  }

  section.portfolio, section.featured {
    padding: 4em 12em 4em 12em;
  }

  .portfolio-container {
    justify-content: center;
    align-items: center;
  }

  header .left {
    padding: 1em 1em 1em 12em;
  }

  .hero .content {
    padding: 0 0 0 12em;
  }

  section img {
    float: right;
  }
}
@media only screen and (min-width: 1800px) {
  .about {
    border-radius: 5px;
    margin: 0 calc(17em - 6em);
    padding: 6em;
  }

  section.portfolio, section.featured {
    padding: 4em 17em 4em 17em;
  }

  header .left {
    padding: 1em 1em 1em 17em;
  }

  .hero .content {
    padding: 0 0 0 17em;
  }
}
@keyframes heroAnimation {
  0% {
    background-color: #00B8BF;
    transform: translate(0px, -700px);
    opacity: 0;
  }
  100% {
    background-color: #3F8168;
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
